@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;900&display=swap");

:root {
  --orange-background: #ff8900;
  --text-color: #747474;

  --btn-unit-size: 48px;

  --wrapper-padding: 13px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

h1{
  font-size: 200px;
}

button {
  color: white;
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  font-family: "Poppins", sans-serif;
  padding: var(--wrapper-padding);
}

.form__input {
  font-size: 20px;
  padding-left: 18px;
  width: 281px;
  height: 48px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
}

.form__input:focus {
  outline: none;
}


.form__btn {

  width: 30px;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;

  margin-left: 10px;

  color: white;
  border: none;
  background: transparent;
  transition: 0.3s ease-in-out;
}

.form__btn-text{
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn:active {
  background: rgba(38, 38, 38, 0.1);
}

.units__menu {
  display: flex;
  padding-left: 5px;
}

.units__item {
  display: block;
  margin-right: 10px;
}

.units__item__btn {
  border: none;
  border-radius: 15px;
  background: var(--orange-background);
  width: var(--btn-unit-size);
  height: var(--btn-unit-size);
  font-size: 18px;
  font-weight: 900;

  box-shadow: inset -1px -1px 10px rgba(47, 47, 47, 0.5);
}

.units__item__btn--active {
  border: none;
  border-radius: 15px;
  width: var(--btn-unit-size);
  height: var(--btn-unit-size);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 900;

  box-shadow: inset -1px -1px 10px rgba(47, 47, 47, 0.5);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main__wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 120px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main__container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.main__description {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast {
  display: flex;
  justify-content: center;
}

.forecast__menu {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.forecast__item {
  height: 30px;
  color: white;

  margin-right: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.forecast__item--active{
  position: relative;

  padding: 20px;
  border-radius: 10px;

  transform: scale(1.05) translateY(-50px);
  transition: .3s ease-in-out;

}

.forecast__item__img {
  width: 30px;
  height: 30px;
}


@media screen and (min-width: 960px){
  *{
    font-size: 20px;
  }

  .forecast__item{
    width: 100px;
    font-size: 20px;
    padding: 25px;
  }
  .forecast__item__img{
    width: 50px;
    height: 50px;
  }
}